:root {
    --small: 1rem;
    --medium: 2rem;
    --large: 3rem;
}

.player-section .buttons-container {
    position: relative;
}

.player-section .buttons-container .buttons-body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 6rem;
}

.player-section .buttons-container .buttons-body .buttons-item {
    width: calc(50% - 5rem);
}

.player-section .buttons-container .buttons-body .buttons-item .button-content {
    display: flex;
    justify-content: center;
}

.player-section .buttons-container .buttons-body .buttons-item .button-content a {
    text-align: center;
    width: 100%;
}

.player-section .buttons-container.buttons-data .buttons-body .buttons-item {
    align-items: center;
    display: flex;
}

.player-section .buttons-container.buttons-data .buttons-body .buttons-item .button-image {
    width: 125px;
    z-index: 1;
}

.player-section .buttons-container.buttons-data .buttons-body .buttons-item .button-image img {
    aspect-ratio: 1 / 1;
    border: 3px solid var(--primary);
    border-radius: 50%;
    object-fit: cover;
    width: 125px;
}

.player-section .buttons-container.buttons-data .buttons-body .buttons-item .button-content {
    margin-left: -1rem;
    width: 100%;
}

.player-section .title-absolute {
    align-items: center;
    display: flex;
    justify-content: center;
    left: calc(50% - 325px);
    position: absolute;
    top: -45px;
    width: 650px;
}

.player-section .title-content .title-2 h2 {
    color: var(--primary);
    line-height: 0.8em;
}

.user-section .user-form-content .user-input input {
    background-color: transparent;
    border: 3px solid var(--primary);
    color: var(--light);
    font-family: "Cragres", Times, serif;
    font-size: 2.3rem;
    padding: 0.5rem 2.5rem;
    transition: all 0.3s ease-in-out;
}

.user-section .user-form-content .user-input input:focus {
    animation: inputMove 0.5s ease;
    border: 5px solid var(--primary);
}

.user-section .user-form-content .user-input input::placeholder {
    color: var(--light);
}

.custom-checkbox {
    display: inline-flex;
}

.custom-checkbox input {
    visibility: hidden;
    position: absolute;
}

.custom-checkbox .icon {
    cursor: pointer;
    width: var(--small);
    height: val(--small);
    border: 3px solid var(--primary);
    border-radius: 0.25rem;
    transition: 0.3s ease;
}

.custom-checkbox .icon svg {
    transition: 0.3s ease;
}

.custom-checkbox input:not(:checked)~.icon svg {
    opacity: 0;
}

.custom-checkbox.scale input:not(:checked)~.icon svg {
    transform: scale(2);
}

.custom-checkbox.yellow svg {
    fill: #19FF16;
}

.custom-checkbox.yellow input:checked~.icon {
    border-color: var(--primary);
}

.custom-checkbox.yellow:hover .icon {
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

.custom-checkbox.small .icon {
    height: var(--small);
    width: var(--small);
}

.custom-checkbox.medium .icon {
    height: var(--medium);
    width: var(--medium);
}

.custom-checkbox.large .icon {
    height: var(--large);
    width: var(--large);
}

@keyframes inputMove {
    0% {
        padding-left: 2.5rem;
    }

    50% {
        padding-left: 0.5rem;
    }

    100% {
        padding-left: 2.5rem;
    }
}