.game-card-section {
    position: relative;
    width: 100%;
}

.game-card-section .game-card-body {
    display: flex;
    width: 100%;
}

.game-card-section .game-card-body .game-card-item {
    margin-right: 4%;
    position: relative;
    padding: 2rem;
    padding-top: 15rem;
    width: 48%;
}

.game-card-section .game-card-body .game-card-item p {
    font-family: "Cragres", Times, serif;
    margin: 0;
}

.game-card-section .game-card-body .game-card-item:last-child {
    margin-right: 0;
}

.game-card-section .game-card-body .game-card-item.container-left {
    border: 4px solid var(--team-green);
}

.game-card-section .game-card-body .game-card-item.container-right {
    border: 4px solid var(--team-blue);
}

.game-card-section .game-card-body .game-card-item .team-image {
    position: absolute;
    top: 8px;
    width: 150px;
}

.game-card-section .game-card-body .game-card-item.container-left .team-image {
    right: 8px;
}

.game-card-section .game-card-body .game-card-item.container-right .team-image {
    left: 8px;
}

.game-card-section .game-card-body .game-card-item .score-title {
    font-size: 48px;
    line-height: 1em;
    text-align: center;
}

.game-card-section .game-card-body .game-card-item .score-number {
    font-size: 120px;
    line-height: 1em;
    text-align: center;
}

.game-card-section .game-card-body .game-card-item .team-images {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.game-card-section .game-card-body .game-card-item .team-images .image-item {
    margin-right: 4%;
    width: 32%;
}

.game-card-section .game-card-body .game-card-item .team-images .image-item:last-child {
    margin-right: 0;
}

.game-card-section .game-card-body .game-card-item .team-images .image-item img {
    border-radius: 50%;
}

.game-card-section .game-card-body .game-card-item.container-left .team-images .image-item img {
    border: 3px solid var(--team-green);
}

.game-card-section .game-card-body .game-card-item.container-right .team-images .image-item img {
    border: 3px solid var(--team-blue);
}


/*Winner section styles*/
.winner-game-section .winner-card-section {
    padding: 6rem 4rem;
    position: relative;
    width: 100%;
}

.winner-game-section .winner-card-section .square-absolute {
    height: 50px;
    position: absolute;
    top: -6.5px;
    width: 50px;
}

.winner-game-section .winner-card-section .square-absolute.square-left {
    left: -6.5px;
}

.winner-game-section .winner-card-section .square-absolute.square-right {
    right: -6.5px;
}

.winner-game-section .winner-card-section.team-1 .square-absolute.square-left {
    border-left: 8px solid var(--team-green);
    border-top: 8px solid var(--team-green);
}

.winner-game-section .winner-card-section.team-1 .square-absolute.square-right {
    border-right: 8px solid var(--team-green);
    border-top: 8px solid var(--team-green);
}

.winner-game-section .winner-card-section.team-2 .square-absolute.square-left {
    border-left: 8px solid var(--team-blue);
    border-top: 8px solid var(--team-blue);
}

.winner-game-section .winner-card-section.team-2 .square-absolute.square-right {
    border-right: 8px solid var(--team-blue);
    border-top: 8px solid var(--team-blue);
}

.winner-game-section .winner-card-section p {
    margin: 0;
}

.winner-game-section .winner-card-section.team-1 {
    border: 5px solid var(--team-green);
}

.winner-game-section .winner-card-section.team-2 {
    border: 5px solid var(--team-blue);
}

.winner-game-section .winner-card-section .winner-card-image {
    margin: 0 auto;
    width: 100px;
}

.winner-game-section .winner-card-section .winner-card-title {
    margin: 1rem 0;
    text-align: center;
}

.winner-game-section .winner-card-section .winner-card-title h1 {
    font-size: 60px;
    margin: 0;
}

.winner-game-section .winner-card-section.team-1 .winner-card-title h1 {
    color: var(--team-green);
}

.winner-game-section .winner-card-section.team-2 .winner-card-title h1 {
    color: var(--team-blue);
}

.winner-game-section .winner-card-section .winner-card-score {
    font-family: "Cragres", Times, serif;
    font-size: 32px;
    text-align: center;
}

.winner-game-section .winner-card-section .winner-card-number {
    font-family: "Cragres", Times, serif;
    font-size: 100px;
    line-height: 1em;
    text-align: center;
}

.winner-game-section .winner-card-section .winner-card-players {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.winner-game-section .winner-card-section .winner-card-players .image-player {
    width: 125px;
}

.winner-game-section .winner-card-section .winner-card-players .image-player img {
    border-radius: 50%;
}

.winner-game-section .winner-card-section.team-1 .winner-card-players .image-player img {
    border: 4px solid var(--team-green);
}

.winner-game-section .winner-card-section.team-2 .winner-card-players .image-player img {
    border: 4px solid var(--team-blue);
}

.winner-game-section .winner-card-section .button-section {
    bottom: -43px;
    left: 0;
    position: absolute;
    width: 100%;
}

