.team-configuration-section .select-team-body {
    position: relative;
    width: 100%;
}

.team-configuration-section .select-team-body .team-image {
    position: absolute;
    top: calc(50% - 55px);
    width: 350px;
}

.team-configuration-section .select-team-body .team-image.team-green {
    left: 0;
}

.team-configuration-section .select-team-body .team-image.team-blue {
    right: 0;
}

.team-configuration-section .select-team-body .select-team-item {
    display: flex;
    justify-content: center;
    left: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.team-configuration-section .select-team-body .select-team-item.team-green {
    left: -33%;
}

.team-configuration-section .select-team-body .select-team-item.team-blue {
    left: 33%;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 33%;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .select-team-image {
    width: 125px;
    z-index: 2;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .select-team-image img {
    aspect-ratio: 1 / 1;
    border: 4px solid var(--primary);
    border-radius: 50%;
    object-fit: cover;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .select-team-name {
    background: linear-gradient(0deg, var(--btn-primary) 0%, var(--btn-secondary) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%);
    color: var(--dark);
    font-family: "Cragres", Times, serif;
    font-size: 22px;
    left: -0.5rem;
    padding: 0.5rem 1rem;
    position: relative;
    width: calc(100% - 125px);
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .arrow-absolute {
    position: absolute;
    top: calc(50% - 32px);
    width: 30px;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .arrow-absolute.arrow-left {
    left: -2rem;
}

.team-configuration-section .select-team-body .select-team-item .select-team-content .arrow-absolute.arrow-right {
    right: -2rem;
}

.team-configuration-section .select-team-body .select-team-item.team-green .select-team-content .arrow-absolute.arrow-left {
    display: none;
}

.team-configuration-section .select-team-body .select-team-item.team-blue .select-team-content .arrow-absolute.arrow-right {
    display: none;
}


/*Pre game section*/
.pre-game-section .pre-game-body {
    display: flex;
}

.pre-game-section .pre-game-body .pre-game-item {
    padding: 0 1rem;
    width: 50%;
}

.pre-game-section .pre-game-body .pre-game-item .pre-game-image {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 500px;
}

.pre-game-section .pre-game-body .pre-game-item .pre-game-team .team-item {
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 200px;
}

.pre-game-section .pre-game-body .pre-game-item .pre-game-team .team-item img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.pre-game-section .pre-game-body .pre-game-item .pre-game-team .team-item.green-team {
    border: 3px solid var(--team-green);
}

.pre-game-section .pre-game-body .pre-game-item .pre-game-team .team-item.blue-team {
    border: 3px solid var(--team-blue);
}

/*Pre game cop section*/
.pre-game-cop-section .pre-game-body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 500px;
}

.pre-game-cop-section .pre-game-body .pre-game-item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 50%;
}

.pre-game-cop-section .pre-game-body .pre-game-item .pre-game-image {
    border: 5px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.pre-game-cop-section .pre-game-body .pre-game-item .pre-game-name {
    background: linear-gradient(0deg, var(--btn-primary) 0%, var(--btn-secondary) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%);
    margin-left: -1rem;
    padding: 1rem 0;
    text-align: center;
    width: 250px;
}

.pre-game-cop-section .pre-game-body .pre-game-item .pre-game-name p {
    color: var(--dark);
    font-family: "Cragres", Times, serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.pre-game-cop-section .pre-game-body .pre-game-item img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
}

/*Init Game Section*/
.init-game-section {
    position: absolute;
    width: 100%;
}

.init-game-section .init-game-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*.init-game-section .init-game-content::before {
    background-color: var(--team-green);
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 45%;
}

.init-game-section .init-game-content::after {
    background-color: var(--team-blue);
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    right: 0;
    width: 45%;
}*/

.init-game-section .init-game-content .square-absolute {
    border-top: none !important;
    bottom: -2px;
    content: "";
    height: 3rem;
    position: absolute;
    width: 3rem;
}

.init-game-section .init-game-content .square-absolute.square-left {
    border: 8px solid var(--team-green);
    border-right: none;
    left: -6px;
}

.init-game-section .init-game-content .square-absolute.square-right {
    border: 8px solid var(--team-blue);
    border-left: none;
    right: -6px;
}

.init-game-section .init-game-content .init-game-item {
    width: 50%;
}

.init-game-section .init-game-content .init-game-item.cop-mode {
    align-items: center;
    display: flex;
    justify-content: center;
}

.init-game-section .init-game-content .init-game-item .init-game-title {
    margin: 0 auto;
    width: 400px;
}

.init-game-section .init-game-content .init-game-item .init-game-team {
    margin-top: 1rem;
    position: relative;
    top: 89px;
    width: 100%;
}

.init-game-section .init-game-content .section-absolute {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.init-game-section .init-game-content .section-absolute .vs-image {
    width: 250px;
}

.init-game-section .init-game-content .section-absolute .vs-image,
.init-game-section .init-game-content .section-absolute .countdown-section,
.init-game-section .init-game-content .section-absolute .fight-image {
    margin-top: 6rem;
}

.init-game-section .init-game-content .section-absolute .fight-image {
    width: 450px;
}

.pre-game-section.init-game-section .pre-game-body {
    margin-top: 8rem;
    min-height: 600px;
}

.pre-game-section.init-game-section .pre-game-body .pre-game-item {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.pre-game-section.init-game-section .pre-game-body .pre-game-item .pre-game-image {
    left: calc(50% - 250px);
    position: absolute;
    top: -100px;
}

/*Init Game Cop Section*/
.init-game-cop-section .pre-game-body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 700px;
}

.init-game-cop-section .pre-game-body .pre-game-item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 50%;
}

.init-game-cop-section .pre-game-body .pre-game-item .pre-game-image {
    border: 5px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.init-game-cop-section .pre-game-body .pre-game-item .pre-game-name {
    background: linear-gradient(0deg, var(--btn-primary) 0%, var(--btn-secondary) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%);
    margin-left: -1rem;
    padding: 1rem 0;
    text-align: center;
    width: 250px;
}

.init-game-cop-section .pre-game-body .pre-game-item .pre-game-name p {
    color: var(--dark);
    font-family: "Cragres", Times, serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.init-game-cop-section .pre-game-body .pre-game-item img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
}

.init-game-cop-section .init-game-content .section-absolute {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.init-game-cop-section .init-game-content .section-absolute .vs-image {
    width: 250px;
}

.init-game-cop-section .init-game-content .section-absolute .vs-image,
.init-game-cop-section .init-game-content .section-absolute .countdown-section,
.init-game-cop-section .init-game-content .section-absolute .fight-image {
    margin-top: 0;
}

.init-game-cop-section .init-game-content .section-absolute .fight-image {
    width: 450px;
}

