.modal.modal-photo .modal-content {
    background-color: #49A54E;
    border: none;
    padding: 2rem 1rem;
}

.modal-photo .modal-photo-body {
    display: flex;
}

.modal-photo .modal-photo-body img {
    width: 100%;
}

.modal-photo .modal-photo-body .modal-photo-item {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}

.modal-photo .modal-photo-body .modal-photo-item .modal-photo-title h2 {
    font-family: "Cragres", Times, serif;
}

.modal-photo .modal-photo-body .modal-photo-item .modal-photo-image {
    max-width: 400px;
    width: 100%;
}

.modal-photo .modal-photo-body .modal-photo-item .modal-photo-text {
    font-family: 'Glitch Slap', Times, serif;
    font-size: 20px;
    line-height: 1.2em;
}

.modal-photo .modal-photo-body .modal-photo-item .modal-photo-icon {
    animation: iconMove 1s infinite ease;
    margin-top: 1rem;
    position: relative;
    width: 60px;
}

/*Modal game styles*/
.modal-choose-game .title-content .title-2 h2 {
    color: var(--light);
    font-family: "Cragres", Times, serif;
    font-size: 40px;
    text-shadow: none;
}

.modal-choose-game .competitive-section button {
    width: 300px;
}

.modal-choose-game .cooperative-section .cooperative-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modal-choose-game .cooperative-section .cooperative-buttons  .button-content button {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%);
    font-size: 24px;
    padding: 1rem 2rem;
}

.modal-choose-game .cooperative-section .cooperative-buttons .button-content.active button {
    background: linear-gradient(0deg, var(--btn-primary) 0%, var(--btn-secondary) 100%);
    border-color: var(--btn-primary) !important;
    color: var(--dark);
}

@keyframes iconMove {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -2rem;
    } 
    100% {
        bottom: 0;
    }
}